
[data-delete-confirm] {
    display: none;
    background-color: #40404040;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

[data-delete-confirm].open {
    display: flex;
}

[data-confirm-body] {
    padding: 1rem;
    max-width: 80%;
    
    border-radius: 4px;
    background-color: white;
}

[data-confirm-title] {
    font-weight: bold;
    font-size: 16px;
}
[data-confirm-description] {
    color: #404040;
    font-size: 12px;
}
[data-confirm-actions] {
    padding-top: 1rem;
    gap: 4px;
    display: flex;
    align-items: center;
}
[data-confirm-button-no], [data-confirm-button-yes] {
    flex: 1;
    border-radius: 4px;    
    color: white;
    background-color: #e93232;
}

[data-confirm-button-no] {
    flex: 1;
    border-radius: 4px;    
    color: rgb(24, 24, 24);
    background-color: #e9e9e9;
}
