[data-last-section] {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-section] {
    min-height: 60px;
    user-select: none;
    /* padding: 2rem; */
}

/* TODO: Handle first section actions (overflow iframe content...) */
[data-module-id]:has(> [data-module-content] > [data-section]) {
    border: none !important;
}

[data-module-id]:hover:has(> [data-module-content] > [data-section]) {
    border: none;
    box-shadow: inset 0 0 0 1px var(--color-primary);
}

[data-module-id]:has([data-section]) > [data-module-actions] {
    overflow: hidden;
    height: 32px;
    top: auto;
    justify-content: center;
    bottom: 100%;
    gap: 0;
}

[data-module-id]:has([data-section]) > [data-module-actions] [data-module-action] {
    height: 32px;
    width: 32px;
    padding: 4px;
    display: flex;
    align-items: center;
    background-color: var(--color-primary);

    justify-content: center;
}


[data-module-id]:has([data-section]) > [data-module-actions] [data-module-actions-start] {
    border-top-left-radius: 32px;
    overflow: hidden;
    background-color: var(--color-primary);
    display: flex;
    padding-left: 16px;
}

[data-module-id]:has([data-section]) > [data-module-actions] [data-module-actions-end] {
    border-top-right-radius: 32px;
    overflow: hidden;
    background-color: var(--color-primary);
    display: flex;
    padding-right: 16px;
}

[data-module-id]:has([data-section]):first-child > [data-module-actions] {
    top: 0;
    bottom: auto;
}
[data-module-id]:has([data-section]):first-child > [data-module-actions] [data-module-actions-start] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 32px;
    overflow: hidden;
    background-color: var(--color-primary);
    display: flex;
    padding-left: 16px;
}

[data-module-id]:has([data-section]):first-child > [data-module-actions] [data-module-actions-end] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 32px;
    overflow: hidden;
    background-color: var(--color-primary);
    display: flex;
    padding-right: 16px;
}

[data-columns] {
    min-height: 60px;
}

[data-slot-empty] {
    width: 100%;
    min-height: 60px;
    background-color: #4092f028;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #71acce;
    pointer-events: all;
}
[data-slot-empty]::before {
    content: 'Drag module here';
    color: #71acce;
}

[data-body]:has([data-definition-module]) [data-slot] {
    min-height: 60px;
    background-color: #4092f065;
}

[data-section-resizer] {
    display: block !important;
    z-index: 1;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 12px;
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
    /* border: 1px solid var(--color-primary); */
    /* background-color: white; */
    border-radius: 16px;
}

[data-module-id]:hover [data-section-resizer]{
    opacity: 1;
    pointer-events: all;
}
    
[data-section-resizer][data-mode="top"] {
    top: 0rem;
    cursor: n-resize;
}

[data-section-resizer][data-mode="bottom"] {
    bottom: -12px;
    cursor: s-resize;

}