@import './columns.css';
@import './components/html.css';
@import './section.default.css';

[data-module-id] {
    display: contents;
}
[data-module-content] {
    display: contents;
}

[data-section]:has(.sticky) {
    display: contents;
}

[data-columns]:has(.sticky) {
    display: contents;
}

[data-column]:has(.sticky) {
    display: contents;
}