@import './components.css';

:root {
    --x-primary: #4070f0;
    --x-primary-hover: #5080f5;
    --x-secondary: #696e7c;
    --x-secondary-hover: #626777;
}    

[data-body] {
    min-height: 400px;
    background-color: white;
}

[data-body] [data-definition-id] {
    background-color: #0026ff40;
    overflow: hidden;
    color: transparent;
    height: 32px;
}
[data-body] [data-definition-id] [data-definition-icon] {
    /* background-color: red; */
    display: none;
}

[data-body] [data-module-id].sortable-ghost {
    background-color: #0026ff40;
    overflow: hidden;
    height: 32px;
    min-height: 32px !important;
}

[data-body] [data-module-id].sortable-ghost * {
    color: transparent;
    border-color: transparent;    
}

/* .sortable-drag {
    color: red;
    height: 32px;
    min-height: 32px;
} */

[data-module-id].sortable-chosen {
    background-color: white;
    /* border-radius: 8px; */
    /* height: 32px; */
    /* min-height: 32px !important; */
}
[data-module-id].sortable-chosen [data-module-content] {
    display: none;
}


[data-module-id] {
    transition: all 0.3s ease;
    border: 1px solid #00000010;
    position: relative;
    min-height: 100px;
}
[data-module-id]:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

[data-module-id]:hover {
    border: 1px dashed var(--x-primary-hover);
} 
[data-module-id][data-active] {
    border: 1px solid var(--x-primary-hover);
}


[data-module-actions] {
    height: 24px;
    display: flex;
    gap: 4px;
    position: absolute; 
    top: 0; 
    transition: all 0.2s ease;
    background-color: #4070f0;
    opacity: 0;
    color: white;
}
[data-module-actions-start] {
    left: 0;
}    
[data-module-actions-start] > div {
    display: flex;
}

[data-module-action-text] {
    padding-left: 16px;
    padding-right: 16px;
    display: flex; 
    align-items: center; 
    font-weight: bold;
}

[data-module-actions-end] {
    right: 0;
}    

[data-action-icon] {
    padding: 2px;
    width: 24px;
    height: 24px;
}

[data-module-actions] > * {
    cursor: pointer;
}

[data-module-id]:hover [data-module-actions] {
    opacity: 1;
}

[data-module-id][data-active] [data-module-actions] {
    opacity: 1;
}

body:has([data-data-mode]) [data-module-actions] {
    display: none;
}

[data-module-content] {
    position: relative;
}

[data-module-id][data-data-mode] [data-module-content] {
    display: none;
}

[data-mode-add], [data-mode-list], [data-mode-edit], [data-mode-edit-single],[data-mode-settings] {
    display: none;
}

[data-data-mode="list"] [data-mode-list] {
    display: block;
}

[data-data-mode="settings"] [data-mode-settings] {
    display: block;
}

[data-data-mode="edit-single"] [data-mode-edit-single] {
    display: block;
}

[data-data-mode="edit"] [data-mode-edit] {
    display: block;
}

[data-data-mode="add"] [data-mode-add] {
    display: block;
}

[data-module-id]:has([data-delete-confirm].open) {
    min-height: 180px;
}

[data-content-confirm-button-no], [data-module-confirm-button-no],
[data-content-confirm-button-yes], [data-module-confirm-button-yes] {
    flex: 1;
    border-radius: 4px;    
    color: white;
    background-color: #e93232;
}

[data-content-confirm-button-no],[data-module-confirm-button-no] {
    flex: 1;
    border-radius: 4px;    
    color: rgb(24, 24, 24);
    background-color: #e9e9e9;
}
