@import './components.css';
@import './columns.css';
@import './columns.preview.css';
@import './section.default.css';
@import './section.preview.css';

:root {
    --x-primary: #4070f0;
    --x-primary-hover: #5080f5;
    --x-secondary: #696e7c;
    --x-secondary-hover: #626777;
}    

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;   
}

[data-body] {
    min-height: 400px;
    background-color: white;
}

[data-body] [data-definition-id] {
    background-color: #0026ff40;
    overflow: hidden;
    color: transparent;
    height: 32px;
    width: 100%;
}
[data-body] [data-definition-id] [data-definition-icon] {
    /* background-color: red; */
    display: none;
}

[data-body] [data-module-id].sortable-ghost {
    background-color: #0026ff6c;
    overflow: hidden;
    /* height: 20px; */
    /* min-height: 20px !important; */
}

[data-body] [data-module-id].sortable-ghost * {
    color: transparent;
    border-color: transparent;    
}

[data-module-id].sortable-chosen {
    background-color: white;
}

[data-module-id] {
    transition: all 0.2s ease;
    border: 1px solid #00000020;
    position: relative;
}

[data-action="drag-module-handle"] {
    cursor: grab !important;
}

[data-module-id]:hover:not(:has([data-module-id]:hover)) {
    border: 1px dashed var(--x-primary);
} 

[data-module-id][data-active] {
    border: 1px solid var(--x-primary) !important;
}

[data-module-actions] {
    height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    position: absolute; 
    top: 0; 
    left: 0;
    right: 0;
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

[data-module-action] {
    background-color: #4070f0;
    color: white;
    pointer-events: all;
}

[data-module-actions-start], [data-module-actions-start] > div {
    display: flex;
}

[data-module-action-text] {
    padding-left: 16px;
    padding-right: 16px;
    display: flex; 
    align-items: center; 
    font-weight: bold;
}

[data-action-icon] {
    padding: 2px;
    width: 24px;
    height: 24px;
}

[data-module-action] {
    cursor: pointer;
}

[data-module-id]:hover > [data-module-actions] {
    /* opacity: 0.5; */
}

[data-module-id][data-active] > [data-module-actions] {
    opacity: 1;
}

body:has([data-data-mode]) [data-module-actions] {
    display: none;
}

[data-module-content] {
    position: relative;
    pointer-events: none;
    min-height: 30px;
    cursor: pointer;
}

[data-module-content] [data-module-id], [data-module-content] [resizer-handle] {
    pointer-events: all;
}

[data-module-id][data-data-mode] [data-module-content] {
    display: none;
}

[data-mode-add], [data-mode-list], [data-mode-edit], [data-mode-edit-single],[data-mode-settings] {
    display: none;
}

[data-data-mode="list"] [data-mode-list] {
    display: block;
}

[data-data-mode="settings"] [data-mode-settings] {
    display: block;
}

[data-data-mode="edit-single"] [data-mode-edit-single] {
    display: block;
}

[data-data-mode="edit"] [data-mode-edit] {
    display: block;
}

[data-data-mode="add"] [data-mode-add] {
    display: block;
}

[data-module-id]:has([data-delete-confirm].open) {
    min-height: 180px;
}

[data-content-confirm-button-no], [data-module-confirm-button-no],
[data-content-confirm-button-yes], [data-module-confirm-button-yes] {
    flex: 1;
    border-radius: 4px;    
    color: white;
    background-color: #e93232;
}

[data-content-confirm-button-no],[data-module-confirm-button-no] {
    flex: 1;
    border-radius: 4px;    
    color: rgb(24, 24, 24);
    background-color: #e9e9e9;
}
