[data-badge] {
    display: inline-flex;
    align-items: center;
    padding: 2px 12px;
    gap: 8px;

    border-radius: 16px;
    background-color: var(--badge-bg);
    color: var(--badge-color);
    transition: all 0.2s ease;
}

[data-badge-color="success"] {
    --badge-bg: #1081232a;
    --badge-color: #0c751e;
}

[data-badge-color="success"]:hover {
    --badge-bg: #10812336;
    --badge-color: #086117;
}
