[data-button] {
    --button-bg: var(--color-default);
    --button-color: var(--color-default-content);
    --button-border: var(--color-default-border);
    --button-hover-bg: var(--color-default-hover);
    
    background-color: var(--button-bg);
    color: var(--button-color);
    border: 1px solid var(--button-border);
    border-radius: 6px; /* Slightly more rounded corners */
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600; /* Bolder text for emphasis */
    padding: 8px 20px; /* Increased padding for a more substantial feel */
    height: 40px; /* Taller for better touch targets */
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

[data-button]:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--button-hover-bg);
}

[data-button-outline] {
    background-color: transparent;
    color: var(--button-bg);
    border-color: var(--button-border);
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

[data-button-outline]:hover {
    background-color: var(--button-bg);
    color: var(--button-color);
    border-color: var(--button-bg);
}

[data-button-ghost] {
    box-shadow: none;
    background-color: transparent;
    color: var(--button-hover-bg);
    border-color: transparent;
    transition: color 0.3s ease, background-color 0.3s ease;
}

[data-button-ghost]:hover {
    color: var(--button-bg);
    background-color: var(--button-ghost-hover-bg); /* Subtle background on hover */
}
[data-button-color="default"][data-button-ghost] {
    color: var(--button-default-content);
}
[data-button-color="default"][data-button-ghost]:hover {
    color: var(--button-default-content);
    box-shadow: none;
}

[data-button-block] {
    width: 100%;
}

[data-button-color="primary"] {
    --button-bg: var(--color-primary);
    --button-hover-bg: var(--color-primary-hover);
    --button-color: var(--color-primary-content);
    --button-border: var(--color-primary-border);
}

[data-button-color="danger"] {
    --button-bg: var(--color-danger);
    --button-hover-bg: var(--color-danger-hover);
    --button-color: var(--color-danger-content);
    --button-border: var(--color-danger-border);
}

[data-button-size="small"] {
    padding: 4px 12px;
    height: 32px;
    font-size: 12px;
}

[data-stack] > [data-button] {
    align-self: flex-end;
}

[data-button-icon] {
    width: 36px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-button] [data-icon] {
    width: 20px;
    height: 20px;
}