[data-data-table] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
[data-data-table-filter-form] {
    display: flex;
    gap: 2rem;
    align-items: end;
    justify-content: space-between;
}

[data-data-table-filter-buttons] {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
[data-data-table-filter-button] {
    border-radius: 16px;
    background-color: var(--table-filter-bg);
    border: 1px solid var(--table-filter-border);
    display: flex;
    align-items: center;
    padding: 0px 16px;
    flex-wrap: nowrap;
    justify-content: center;
    height: 32px;
}

[data-data-table-button-has-value] {
    background-color: var(--table-filter-active-bg);
    border: 1px solid var(--table-filter-active-border);
    color: var(--table-filter-active-color);
}

[data-data-table-filter-button-icon] {
    border-radius: 16px;
    display: flex; align-items: center; justify-content: center; width: 36px; height: 36px; border-radius: 18px; margin-right: -16px;
}

[data-file-item] {
    height: 32px;
    padding-left: 12px;
    padding-right: 8px;
    cursor: pointer;
}

[data-file-icon], [data-download-icon] {
    display: block;
    width: 24px;
    height: 24px; 
    opacity: 0.7;
}

[data-download-icon] {
    display: none;
}

[data-file-item]:hover [data-file-icon] {
    display: none;
}

[data-file-item]:hover [data-download-icon] {
    display: block;
}