[data-dropdown] {
    position: relative;
}

[data-dropdown-placement="start"] [data-dropdown-menu] {
    left: 0
}
[data-dropdown-placement="end"] [data-dropdown-menu] {
    right: 0
}

[data-dropdown-menu] {
    border-radius: 4px;
    padding: 4px;
    z-index: 4;
    position: absolute;
    top: 100%;
    display: none;
    flex-direction: column;
    white-space: nowrap;
    font-weight: normal;
    overflow: auto;
    max-height: 400px;
    box-shadow: 0 1px 4px -2px var(--dropdown-border);
    background-color: var(--dropdown-bg);
    border: 1px solid var(--dropdown-border);
    min-width: 200px;
}

[data-dropdown-item] {
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
[data-dropdown-item]:hover {
    padding: 4px 8px;
    background-color: var(--dropdown-item-hover-bg);
}