[data-dropdown] {
    position: relative;
}

[data-dropdown]:has([data-dropdown-menu]:hover) [data-dropdown-menu],
[data-dropdown]:has([data-dropdown-trigger]:hover) [data-dropdown-menu] {
    display: flex;

}

[data-dropdown-menu] {
    z-index: 4;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    flex-direction: column;
    white-space: nowrap;
    font-weight: normal;
    background-color: white;
    border: 1px solid #c0c0c0;
    min-width: 200px;
}

[data-dropdown-item] {
    padding: 4px 8px;
    cursor: pointer;
}
[data-dropdown-item]:hover {
    padding: 4px 8px;
    background-color: #f0f0f0;
}