[data-form] {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 1rem;
    background: white;
    border: 1px solid #aaaa;
    border-radius: 8px;
}

[data-form][data-load] {
    opacity: 0.5;
}

[data-form-actions] {
    display: flex;
    transition: all 0.2s ease;
    justify-content: end;
    gap: 8px;
    margin-top: 16px;
}

[data-form-button-cancel] {
    background-color: #fafafa;
    color: rgb(29, 29, 29);
    border: 1px solid #d5d5d5;
}

[data-form-button-submit] {
    background-color: #4070f0;
    color: white;
    border: 1px solid #4070f0;
    
}

[data-label] {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}
[data-label-inline] {
    display: flex;
    align-items: center;
    gap: 8px;
}

[data-label-text] {
    font-size: 16px;
    opacity: 0.8;
    font-weight: bolder;
}

[data-input], [data-textarea], [data-select], [data-label]:has([data-file]) {
    --input-border: var(--border-color);
    width: 100%;
    padding: 4px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--input-border);
    background-color: white;
}

[data-label]:has([data-file]) {
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

[data-file-remove] {
    opacity: 0;
}

[data-label]:has([data-file][data-file-id]) [data-file-remove] {
    opacity: 1;
    
}


[data-file] {
    display: none;
}

[data-input], [data-select] {
    height: 36px;
}

[data-modal] [data-modal-body] [data-form] {
    padding: 0;
    border: none;
}

[data-sidebar] [data-form] {
    padding: 0;
    background: transparent;
    border: none;
}