[data-content-header] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    flex-wrap: wrap ;
}

[data-header-title] {
    color: var(--title-color);
    font-size: 24px;
    font-weight: bold;
}

[data-header-actions] {
    margin-left: auto;
    display: flex;
    gap: 8px;
}

[data-page] {
    padding: 1rem;
    background-color: var(--page-bg);
    overflow: auto;
}

[data-toolbar-logo] {
    display: flex;
    align-items: center;
    gap: 8px;
}