[data-content-header] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 12px;
    flex-wrap: wrap ;
}

[data-header-title] {
    color: var(--title-color);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

[data-page-back] {
    color: var(--color-muted-content);
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: bold;
}

[data-page-back] svg {
    width: 16px;
    height: 16px;
}

[data-page-back]:hover {
    color: var(--color-default-content);
}

[data-header-actions] {
    margin-left: auto;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

[data-page] {
    padding: 1rem;
    padding-left: 0;
    background-color: var(--page-bg);
    overflow: auto;
}

[data-toolbar-logo] {
    display: flex;
    align-items: center;
    gap: 8px;
}