:root {
  /* Base Colors */
  --color-default: #fafafa;
  --color-default-content: #1d1d1d;
  --color-default-border: #d5d5d5;
  --color-default-hover: #f0f0f0;

  --color-primary: #4070f0;
  --color-primary-hover: #4d78ee;
  --color-primary-content: white;
  --color-primary-border: #2759e4;

  --color-danger: #cc2e2e;
  --color-danger-hover: #d14949;
  --color-danger-content: white;
  --color-danger-border: #d12828;

  /* Surface Colors */
  --color-base-100: white;
  --color-base-200: #e8e8e8;
  --color-base-300: #dedede;

  --color-muted-content: #a0a0a0;
  /* Other Colors */
  --border-color: var(--color-default-border);

  --modal-backdrop: #40404040;
  --badge-bg: #4060f034;
  --badge-color: #4060f0;
  --input-bg: var(--color-base-100);
  --input-file-remove-color: #404040;
  --input-file-border: #ccc;
  --input-focus-border: #4070f0;
  --input-focus-shadow: rgba(0, 116, 217, 0.2);
  --label-color: var(--color-default-content);

  /* Component Colors */
  --modal-bg: var(--color-base-100);
  --modal-color: var(--color-default-content);
  --card-border: var(--color-default-border);
  --card-bg: var(--color-base-100);
  --dropdown-bg: var(--color-base-100);
  --dropdown-border: var(--color-default-border);
  --dropdown-item-hover-bg: var(--color-default-hover);
  --table-bg: #aaa;
  --table-border: #bbb;
  --table-body-bg: var(--color-base-100);
  --table-filter-bg: var(--color-base-100);
  --table-filter-border: var(--table-border);
  --table-filter-active-bg: #889cf752;
  --table-filter-active-border: #2248ef;
  --table-filter-active-color: #2248ef;
  --table-head-bg: var(--color-base-300);
  --table-hover-bg: var(--color-base-200);
  --table-head-color: var(--color-default-content);
}

[data-theme="dark"] {
  /* Base Colors */
  --color-default: #374151;
  --color-default-content: #e5e7eb;
  --color-default-border: #4b5563;
  --color-default-hover: #4b5563;

  --color-danger: #bf3838;
  --color-danger-hover: #da405a;
  --color-danger-content: #ffffff;
  --color-danger-border: #dc2626;

  /* surface Colors */
  --color-base-100: #1f2937;
  --color-base-200: #374151;
  --color-base-300: #293545;


  --color-muted-content: #686a87;
  /* Other Colors */
  --modal-backdrop: #1e1e1e80;
  --badge-bg: #1e3a8a66;
  --badge-color: #a3bffa;
  --input-bg: var(--color-base-200);
  --input-file-remove-color: #d1d5db;
  --input-file-border: #6b7280;
  --input-focus-border: #60a5fa;

  /* Component Colors */
  --border-color: var(--color-default-border);

  --modal-bg: var(--color-base-300);
  --modal-color: var(--color-default-content);
  --card-border: var(--color-default-border);
  --card-bg: var(--color-base-100);
  --dropdown-bg: var(--color-base-100);
  --dropdown-border: var(--color-default-border);
  --dropdown-item-hover-bg: var(--color-base-300);
  --table-bg: var(--color-default-border);
  --table-border: var(--color-default-border);
  --table-body-bg: var(--color-base-100);
  --table-filter-bg: var(--color-base-200);
  --table-filter-active-bg: #275aada8;
  --table-filter-active-border: #2563eb;
  --table-filter-active-color: #93c5fd;
  --table-head-bg: var(--color-base-300);
  --table-hover-bg: var(--color-base-200);
  --table-head-color: var(--color-default-content);
}
