[data-stack] {
    display: flex;
    gap: 8px;
}

[data-stack-vertical] {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

[data-stack-wrap] {
    flex-wrap: wrap;
}

[data-stack-gap="sm"] {
    gap: 4px;
}
[data-stack-gap="md"] {
    gap: 8px;
}
[data-stack-gap="lg"] {
    gap: 16px;
}
[data-stack-gap="xl"] {
    gap: 24px;
}

[data-stack-justify="end"] {
    justify-content: end;
}

[data-stack-align="start"] {
    align-items: start;
}

[data-stack-align="center"] {
    align-items: center;
}

[data-stack-align="end"] {
    align-items: end;
}