[data-stack] {
    display: flex;
    gap: 8px;
}

[data-stack-vertical] {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

[data-stack-wrap] {
    flex-wrap: wrap;
}

[data-stack-justify="end"] {
    justify-content: end;
}

[data-stack-align="start"] {
    align-items: start;
}

[data-stack-align="center"] {
    align-items: center;
}

[data-stack-align="end"] {
    align-items: end;
}