[data-table-parent] {
    overflow-x: auto;
    border-radius: 8px;
    border: 1px solid var(--table-border);
    transition: all 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

[data-table] {
    background-color: var(--table-bg);
    transition: all 0.2s ease;
    width: 100%;
    border-collapse: separate; /* Keep borders separate for rounded corners */
    border-spacing: 0; /* Remove gaps between cells */
}

[data-table] thead tr {
    background-color: var(--table-head-bg);
    transition: all 0.2s ease;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

[data-table] thead tr th {
    color: var(--table-head-color);
}

[data-table] td, [data-table] th {
    color: var(--body-color);
    text-align: start;
    transition: all 0.2s ease;
    padding: 14px 18px;
    white-space: nowrap;
}
[data-table-compact] tbody tr td {
    padding: 8px 1rem;
}

[data-table] td {
    font-weight: normal;
    background-color: var(--table-body-bg);
    border-bottom: 1px solid var(--border-color);
}

[data-table] tbody tr:hover td {
    background-color: var(--table-hover-bg); 
    cursor: pointer;
}

[data-table-actions] {
    display: flex;
    align-items: center;
    gap: 8px; /* Increased gap for better spacing */
}

[data-empty-table] {
    border: 1px dashed var(--table-border); /* Dashed border for empty state */
    border-radius: 8px;
    background-color: var(--table-body-bg);
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 2rem;
    color: var(--empty-table-color); /* Text color for empty state */
}

[data-empty-table-title] {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px; /* Added margin for spacing */
}

[data-empty-table-description] {
    font-size: 14px; /* Slightly larger font size */
    opacity: 0.7;
    text-align: center; /* Center text alignment */
}
